{% extends 'base.html' %}

{% block title%}Главная {% endblock %}

{% block content %}
<h1>Главная страница</h1>
{% endblock %}




<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Про меня </title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Я</h1>-->
<!--    <div>1) Студент ГикБрейнс, который ждет когда же уже закончится всё это.</div>-->
<!--    <div>.</div>-->
<!--    <div>2) Студент МТУСИ, который поступил этой осенью, так как думал что курсы ГигБрэйнс закончатся осенью.</div>-->
<!--    <div>.</div>-->
<!--    <div>3) Очень устал совмещать всё что я на себя взвалил.</div>-->
<!--    <div>.</div>-->
<!--    <div>4) Работник месяца по моему собственному мнению. </div>-->
<!--    <div>.</div>-->
<!--    <a href="{% url 'home' %}">На Главную</a>-->

<!--</body>-->
<!--</html>-->